@font-face {
  font-family: 'test';
  src: url("../fonts/slkscr.ttf");
}


html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#123, #111);
  color:#1BAA87;
  font-family: 'test', Fallback, serif;
}
