$black: hsl(0, 0%, 0%);

//@font-face {
//  font-family: 'title';
//  src: url("../fonts/Maple 3 Cartoon.otf");
//  //src: url("../fonts/Snow Deer.otf")
//}
//
//@font-face {
//  font-family: 'main';
//  src: url("../fonts/Ubuntu-Title.ttf");
//  //src: url("../fonts/Snow Deer.otf")
//}


 //background: #99c5c5;  VOORLOPIG DEZE KLEUR


//html, body {
//  padding: 0;
//  margin: 0;
//  width: 100%;
//  height: 100%;
//  position: relative;
// // overflow: hidden;
//  background: #99c5c5;
//  //color:#1BAA87;
//  font-family:  "Noto Sans", sans-serif;
//  color: black;
//}
//a:-webkit-any-link {
//  text-decoration: none;
//  color: #0000EE;
//  }
//  a:hover {
//    text-decoration: underline;}
//
//.snow-font {
//
//  font-family: "title", Fallback, serif;
//  color: white;
//  font-size: 500%;
//}
//
//@media screen and (max-width:400px){
// .snow-font{
//   font-size: 250%;
// }
//}
//
//#mint-countdown{
//  color:white;
//}
//
//.custom_nav{
//  background: #99c5c5;
//  height: 9vh;
//}
//
//.interactive_button {
//  cursor: pointer;
//}
//
//.interactive_button:hover {
//  opacity: 0.5;
//}
//
//#main-block {
//
//      background: -o-linear-gradient(330deg, $black, change-color($black, $lightness: 18%)) fixed;
//      background: linear-gradient(120deg, $black, change-color($black, $lightness: 18%)) fixed;
//
//}
//
//.nav-link {
//  font-size: 30px;
//  cursor: pointer;
//}
//
//.card {
//  background:#99c5c5;
//  border: 0;
//
//}
//
//#btn-back-to-top {
//  position: fixed;
//  bottom: 20px;
//  right: 20px;
//  display: none;
//}


.bg-theme-dark {
  background-color: #99c5c5 !important;
}
.nk-ovm.mask-c-dark.shape-v {
  display: none !important;
}

.counter {
  margin: -15px 0 30px;
  font-size: 16px;
  font-style: italic;
}

.has-fixed .header-main {
  top: 0;
}

#ant-modal {
  z-index: 100000;
  position: absolute;
}

#root {
  position: relative;
  padding-bottom: 50px;
}

#root .btn.btn-md {
  font-size: 18px !important;
  padding: 15px 45px !important;
  white-space: break-spaces;
}

#root .btn.btn-md[disabled] {
  font-size: 12px !important;
  max-width: 80%;
  overflow: hidden;
}

.ant-layout {
  background: transparent;
}

.ant-layout-header {
  background: transparent !important;
}

#root main {
  background: transparent !important;
  padding: 0 !important;
  text-align: center;
}

.App-Bar {
  height: auto !important;
  padding-top: 0 !important;
  position: absolute !important;
  bottom: 0 !important;
  height: 40px !important;
  padding: 0 !important;
  top: auto !important;
}

.App-Bar-right > .ant-btn.ant-btn-primary.ant-btn-lg {
  background: transparent !important;
  border: none !important;
  font-size: 14px !important;
  box-shadow: none !important;
}

.ant-btn > span {
  vertical-align: middle;
}

.App-Bar-right {
  margin: 0 auto;
}

#root main .ant-btn-primary {
  margin: 0 auto;
  display: block;
  white-space: break-spaces;
  height: auto;
}

.modal-header {
  background: #1a2029;
  border-bottom: 0;
}

.modal-header .modal-title {
  margin: 0 auto;
  color: #fff;
}

.ant-select-dropdown {
  z-index: 100000 !important;
}

.header-navbar-s1 .menu > .menu-item > a {
  padding: 20px 15px !important;
  font-size: 14px !important;
}

.ant-btn.ant-btn-text.ant-btn-circle.ant-btn-lg.ant-btn-icon-only {
  display: none !important;
}

#root main .counter {
  color: #fff;
  display: none;
}

.eapps-social-share-buttons {
  position: fixed !important;
  z-index: 100 !important;
}

#root .buy,
#root .text,
#root #nova,
#root .app-title {
  display: none !important;
}

#mint-box.not-connected #root {
  padding-bottom: 15px;
}

#mint-box.not-connected .App-Bar {
  display: none;
}

#mint-guide {
  display: none;
}

#mint-box.not-connected #mint-guide {
  display: block;
}

#modal-mint-guide .modal-body {
  background: rgb(18, 8, 29);
  background: linear-gradient(
                  333deg,
                  rgba(18, 8, 29, 1) 0%,
                  rgba(15, 3, 59, 1) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 768px) {
  #modal-mint-guide h5 {
    font-size: 16px;
  }

  #modal-mint-guide .circle {
    width: 48px;
    float: left;
    margin-bottom: 15px;
  }

  #iframe-widget-wrapper {
    height: 390px !important;
  }
}

.circle {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.score-text {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 1em;
  font-size: 32px;
}

#live-mint-feed {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 300px;
}

#live-mint-feed .slide {
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

#live-mint-feed .slide .image {
  display: block;
  width: 100%;

  display: block;
  border-radius: 5px;
  overflow: hidden;
  margin-block: 15px;
  position: relative;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 15%);
}

#live-mint-feed .slide .image:after {
  content: "";
  display: block;
  padding-top: 100%;
}
